

.cardItem{
  width: 20rem;

  border: 1px solid black;
  margin-top: 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgb(83, 120, 201);
  color: rgb(248, 244, 244);
position: relative;
}

